{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="content-pages">
        <div class="sub-home-pages">
            <div id="titlebar">
                <div class="container">
                    <div class="special-block-bg">
                        <h2>Blog</h2>
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="#"><i class="pe-7s-home"></i> Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="blog-page">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            {% if blogs.count > 0 %}
                                <div class="blog-page">
                                    <div class="row blog-grid-flex">
                                        {% for blog in blogs %}
                                            <a href="{% url 'core:blog-details' blog.slug %}">
                                                <div class="col-md-6 col-sm-12 blog-item">
                                                    <div class="blog-article">
                                                        <div class="comment-like">
                                                            <span><i class="fas fa-eye" aria-hidden="true"></i> 0</span>
                                                        </div>
                                                        <div class="article-img">
                                                            <img src="{{ blog.photo }}" class="img-responsive"
                                                                 alt="title">
                                                        </div>
                                                        <div class="article-link">
                                                            <a href="#"><i class="lnr lnr-arrow-right"></i></a>
                                                        </div>
                                                        <div class="article-content">
                                                            <h4>
                                                                <a href="{% url 'core:blog-details' blog.slug %}">
                                                                    {{ blog.title }}
                                                                </a>
                                                            </h4>
                                                            <div class="meta">
                                                            <span>
                                                                <i>{{ blog.created_at }}</i>
                                                            </span>
                                                                <span>
                                                                <i>In</i>
                                                                <a href="#">{{ blog.category.name }}</a>
                                                            </span>
                                                            </div>
                                                            <p>
                                                                {{ blog.description|truncatechars:100 }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                        <div class="col-md-12">
                                            {% if is_paginated %}
                                                <ul class="pagination">
                                                    {% if page_obj.has_previous %}
                                                        <li>
                                                            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled"><span>&laquo;</span></li>
                                                    {% endif %}
                                                    {% for i in paginator.page_range %}
                                                        {% if page_obj.number == i %}
                                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                                            </li>
                                                        {% else %}
                                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if page_obj.has_next %}
                                                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled"><span>&raquo;</span></li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            {% else %}
                                <p class="alert alert-info"><i class="far fa-frown-open"></i> No Posts Found!</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="sidebar right">
                                <div class="widget search-widget">
                                    <h4>Search in Blog</h4>
                                    <div class="search-blog-input">
                                        <form action="#">
                                            <div class="input">
                                                <input class="search-field" type="search" name="q" value=""
                                                       placeholder="Search.."/>
                                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}